body{
    background-image: url("fon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
a{
    background-color: rgba(0, 0, 0, 0.664);
    color: floralwhite;
    line-height: 50px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 50px;
    margin: 30px;
}
div{
    background-color: rgba(72, 209, 205, 0.623);
    width: 27%;
    display: inline-block;
    vertical-align: middle;
    margin: 60px;
    border-radius: 68px;
}
div img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
h1,h3{
color:white;
font-weight: normal;
}